:root {
  --background-color: #212829;
  --text-color: #edede5;
  --main-color: #8089b4;
  --light-accent: #eb3e8e;
  --dark-accent: #3b5d7e;
  --header-font: 'PT Serif', serif;
  --subheader-font: 'Varela Round', sans-serif;
  --text-font: 'Spinnaker', sans-serif;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

h1 {
  margin: 0;
  font-family: var(--header-font);
  color: var(--background-color);
  font-weight: 400;
  font-size: 2rem;
}

header {
  background: var(--text-color);
  padding: 2em 0;
}

.title a {
  text-decoration: none;
}

.subtitle {
  font-weight: bold;
  margin: 0;
  font-size: 0.9rem;
  color: var(--dark-accent);
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-navigation {
  display: flex;
  justify-content: space-between;
}

/* navigation */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin-left: 2.5em;
}

nav a {
  text-decoration: none;
  color: var(--background-color);
  padding: 0.25em 0;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: var(--dark-accent);
}

.current-page {
  border-bottom: 1px solid var(--background-color);
}

.current-page:hover {
  color: var(--background-color);
}

@media (max-width: 675px) {
  .container-navigation {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }

  header {
    text-align: center;
  }
}

/* BODY */

.container-body {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.featured-article {
  width: 90%;
  border-bottom: 1px solid var(--text-color);
}

.main-articles-posts {
  width: 90%;
}

.beach-photo {
  max-width: 100%;
}

.img-preview {
  max-width: 100%;
}

.columns {
  display: flex;
}

.col-1 {
  width: 75%;
}

.col-2 {
  width: 25%;
}

footer {
  text-align: center;
  background: var(--main-color);
  padding: 2em 0;
}

footer p {
  margin: 0;
}
